@model Book
@using WebApplication1.models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Kitap güncelleme</h1>
<hr />

<form method="post" asp-controller="books" asp-action="Edit">
    <input type="hidden" name="BookId" value="@Model.BookId" />

    <div class="form-group">
        <label asp-for="KitapAdi">Kitap adı</label>
        <input asp-for="KitapAdi" class="form-control" value="@Model.KitapAdi" />
    </div>

    <div class="form-group">
        <label asp-for="Aciklama">Kitap Açıklaması</label>
        <textarea asp-for="Aciklama" class="form-control" value="@Model.Aciklama"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="KitapYazari">Kitabın Yazarı</label>
        <input asp-for="KitapYazari" class="form-control" value="@Model.KitapYazari" />
    </div>

    <div class="form-group">
        <label asp-for="YayinTarihi">Kitabın yayın tarihi</label>
        <input asp-for="YayinTarihi" class="form-control" value="@Model.YayinTarihi" />
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl">Kitap resmi</label>
        <input asp-for="ImageUrl" class="form-control" value="@Model.ImageUrl"/>
    </div>

    <div class="form-group">
        <label asp-for="GenreId">Kitap türü</label>
        <select asp-for="GenreId" asp-items="@ViewBag.Genres"class="form-control">
            <option selected disabled>Seçiniz</option>
        </select>
       @* <select asp-for="GenreId" class="form-control">
            <option selected disabled>Seçiniz</option>
            <option value="1">Dünya klasikleri</option>
            <option value="2">Felsefe</option>
            <option value="3">Macera</option>
            <option value="4">Roman</option>
            <option value="5">Spor</option>
        </select>*@
       @* <input asp-for="GenreId" class="form-control" value="@Model.GenreId" />*@
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>

</form>

@*
<form method="post" action="/books/create">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" name="Title" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <textarea name="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="Yazar">Yazar</label>
        <input type="text" name="Yazar" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Tarih">Tarih</label>
        <input type="text" name="Tarih" class="form-control" />
    </div>

    <div class="form-group">
        <label for="ImageUrl">ImageUrl</label>
        <input type="text" name="ImageUrl" class="form-control" />
    </div>

    <div class="form-group">
        <label for="GenreId">GenreId</label>
        <input type="text" name="GenreId" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>

</form>*@